In [1]:
import pandas as pd

In [2]:
list1=[1,2,3,4,5,6]

In [3]:
ser1=pd.Series(list1)

In [4]:
ser1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [8]:
list2=["haseeb","haseeb","anil","sabeeda","nandhu"]

In [9]:
ser1=pd.Series(list2)

In [10]:
ser1

0     haseeb
1     haseeb
2       anil
3    sabeeda
4     nandhu
dtype: object

In [11]:
import numpy as np

In [13]:
a=np.arange(1,51)

In [14]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [15]:
ser3=pd.Series(a)

In [16]:
ser3

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

In [18]:
ser1

0     haseeb
1     haseeb
2       anil
3    sabeeda
4     nandhu
dtype: object

In [19]:
ser1[2]

'anil'

In [25]:
ser1[1::4]

1    haseeb
dtype: object

In [26]:
ser4=pd.Series(list2,index=["a","b","c","d","e"])

In [27]:
ser4

a     haseeb
b     haseeb
c       anil
d    sabeeda
e     nandhu
dtype: object

In [29]:
ser4["c"]

'anil'

In [30]:
ser3>20

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
dtype: bool

In [32]:
ser3[ser3>30]

30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

In [34]:
(ser3>30) & (ser3<60)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
45     True
46     True
47     True
48     True
49     True
dtype: bool

In [35]:
ser3[(ser3>30) & (ser3<60)]

30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

In [36]:
ser3.min()

1

In [37]:
ser3.max()

50

In [38]:
ser3+10

0     11
1     12
2     13
3     14
4     15
5     16
6     17
7     18
8     19
9     20
10    21
11    22
12    23
13    24
14    25
15    26
16    27
17    28
18    29
19    30
20    31
21    32
22    33
23    34
24    35
25    36
26    37
27    38
28    39
29    40
30    41
31    42
32    43
33    44
34    45
35    46
36    47
37    48
38    49
39    50
40    51
41    52
42    53
43    54
44    55
45    56
46    57
47    58
48    59
49    60
dtype: int32

In [39]:
ser3-5

0     -4
1     -3
2     -2
3     -1
4      0
5      1
6      2
7      3
8      4
9      5
10     6
11     7
12     8
13     9
14    10
15    11
16    12
17    13
18    14
19    15
20    16
21    17
22    18
23    19
24    20
25    21
26    22
27    23
28    24
29    25
30    26
31    27
32    28
33    29
34    30
35    31
36    32
37    33
38    34
39    35
40    36
41    37
42    38
43    39
44    40
45    41
46    42
47    43
48    44
49    45
dtype: int32

In [40]:
ser3*2

0       2
1       4
2       6
3       8
4      10
5      12
6      14
7      16
8      18
9      20
10     22
11     24
12     26
13     28
14     30
15     32
16     34
17     36
18     38
19     40
20     42
21     44
22     46
23     48
24     50
25     52
26     54
27     56
28     58
29     60
30     62
31     64
32     66
33     68
34     70
35     72
36     74
37     76
38     78
39     80
40     82
41     84
42     86
43     88
44     90
45     92
46     94
47     96
48     98
49    100
dtype: int32

In [41]:
has={"name":"haseeb","course":"python","place":"cherpulassery"}

In [42]:
has

{'name': 'haseeb', 'course': 'python', 'place': 'cherpulassery'}

In [43]:
names=pd.Series(has)

In [44]:
names

name             haseeb
course           python
place     cherpulassery
dtype: object

In [46]:
list1=["name","course","place","age","DOB"]

In [47]:
names1=pd.Series(has,index=list1)

In [48]:
names1

name             haseeb
course           python
place     cherpulassery
age                 NaN
DOB                 NaN
dtype: object

In [49]:
names1.isna()

name      False
course    False
place     False
age        True
DOB        True
dtype: bool

In [52]:
names1[names1.isna()]

age    NaN
DOB    NaN
dtype: object

In [53]:
names1.isnull()

name      False
course    False
place     False
age        True
DOB        True
dtype: bool

In [54]:
names1[names1.isnull()]

age    NaN
DOB    NaN
dtype: object

In [55]:
names1.notna()

name       True
course     True
place      True
age       False
DOB       False
dtype: bool

In [56]:
names1[names1.notna()]

name             haseeb
course           python
place     cherpulassery
dtype: object